@charset 'utf-8';  




        .hWrap{ background-color:#0044af; height:  40px; }
        .hw { width:1200px; margin: 0 auto;}
        .menuT {float:left; }
        .menuT li { float:left; width:120px; line-height:40px; text-align:center;  background: #00163b; margin-right: 4px;      }
        .menuT li a { font-weight: bold; color:#fff; font-size:12pt;display:block;   }
        .menuT li a:hover {  color:#0044af;    }
        .menuT li:hover { background:#fff;   }
        
        .hmap { float:right; }
        .hmap li{ float:left; line-height: 40px; margin-left: 15px; }
        .hmap li a{ font-weight: bold; color:#fff; font-size: 12pt;    }
        
        .hWrap2{background: #fff;padding: 20px 0;}
        .hwb img { float:left;}
        
        .menu1st {float:right;  }
        .menu1st ul{float:left; line-height:82px;  }
        .menu1st li {float:left; line-height:82px; margin-left:30px;   }
        .menu1st li:last-child{margin-left:0; }
        .menu1st li a{ font-weight: normal; }        
        .menu1st li .fa-bars {background-color: #eee; padding:14px; }
        .menu1st li .fa-user {background-color:#00163b; padding:14px; color:#fff;  }

#content {background: #000;}
/*#content{ background-image:url(../img/school01.jpg)no-repeat 50% 0%; width:100%; margin: 0 auto; background-size: cover;}*/
.content{width: 1200px; margin: 0 auto; _position: relative;}
.content1st { background: red;  position:absolute; width: 1200px;}
.content1stW {float:left; }
.content1stL {float:right; }






