@charset "utf-8";


.pt30 { padding-top: 30px; !important}
.pb30 { padding-bottom: ;: 30px; !important}
.pl20 { padding-left:20px; !important}
.pr20 { padding-right:20px; !important}


/*contents*/
#contents{
    height: 1300px;
background-image: url(../images/bg_dot.gif),url(../images/main_bg.jpg);
        background-repeat:repeat,no-repeat;
    background-position:center;
    background-size: auto,cover;
    padding: 100px 0;  
        }
#contents .titleWrap {
    width: 1200px; height: 145px; margin: 0 auto;
margin-bottom: 50px;
}
.titleLeft{ float:left; }
#contents .titleLeft h2 {font-weight: bold; font-size: 50px;}
#contents .titleLeft p {font-weight: normal; font-size: 30px;}
#contents .titleWrap h2,
#contents .titleWrap p{ color:#fff; }
.titleRight {float:right; display:block; text-align:center;  }
.titleRight img { padding:10px; border: 3px solid #fff; border-radius:50%; }
.titleRight li {float:left; margin-left: 20px;}
.titleRight li p {padding-top:10px; }



#contents .container {
    width: 1200px; margin: 0 auto; background: #fff;
}
#contents .container>ul>li { float: left; width: 25%; height: 225px; }
#contents .container>ul>li:nth-child(2n){background: pink;}
#contents .container>ul>li:nth-child(1){ width:75%; height: 450px; overflow:hidden; position:relative;    }
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    
}
.sliderWrap .slider img { width: 100%;    }
.nextBtn, .prevBtn{position:absolute;  top:50%;transform:translateY(-50%); cursor:pointer; background: rgba(0,0,0,0.5);}
.nextBtn, .prevBtn:hover { background:#000; }
.nextBtn { right:0; }
.prevBtn {left: 0;}
.txtWrap{position:absolute; top: 100px; left: 50px; width: 500px; color:#1651b7; }
.txtWrap h3 { font-size: 60px;}
.txtWrap .btn { display: block; width: 170px; line-height: 40px; background: #192d4e; color:#fff; text-align: center;}

.btn { display: block; width: 170px; line-height: 40px; text-align: center;}


#contents .container>ul>li:nth-child(2){height: 450px; overflow:hidden; position: relative;  }

.txtWrap2 { position:absolute; top: 100px;left: 50px; width: 200px; color:#fff; }
.txtWrap2 h3 { font-size: 22pt; margin-bottom: 20px;}
.txtWrap2 p {margin-bottom: 35px; font-size: 10pt;}
.txtWrap2 a { background: rgba(0,0,0,0.4);border:1px solid #fff; color:#fff;  }


#contents .container>ul>li:nth-child(3){ background: #00163b;}
#contents .container>ul>li:nth-child(3) h3{ color:#fff; padding-bottom: 35px; }
.section {display:block; text-align:center;  }
.section li {float: left;  }
.section img { margin-left: 20px;}
.section li:first-child img,
.section li:first-child p{ margin-left: 35px;}
.section p{color: #fff;  }



#contents .container>ul>li:nth-child(4){background: #1651b7;}
#contents .container>ul>li:nth-child(4) h3 {color:#fff; }
#contents .container>ul>li:nth-child(4) h3:after{content:""; display: block; width: 260px; height: 2px; background: #fff; margin: 10px 0;}
.txtWrap4 li{ display: block;float:left; color:#fff; font-size: 10pt; padding-bottom: 15px;    }
.txtWrap4 p img{ padding:4px 10px 4px 0;    }


#contents .container>ul>li:nth-child(5){}
.section5 h3{padding-bottom: 20px;}
.sec4Wrap4 { float: right;padding-right: 20px;}
.sec4Wrap4 li {float: left; margin-left: 4px;}
.section5 img {float: left; }
.section5 p {float: right; padding-bottom: 30px;padding-right: 20px; font-size: 15px;}

#contents .container>ul>li:nth-child(6){ }
.section6 {position: relative;}
.section6 p{position: absolute; bottom: 2px; background: rgba(0,0,0,0.7);width: 100%; line-height: 50px; color:#fff; text-align: center; font-weight: bold; }


#contents .container>ul>li:nth-child(7){}

.section7 { position: relative;}
.section7 .in { position: absolute; top: 40%; left: 40%;}
#contents .container>ul>li:nth-child(8){ width: 75%;}


.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    top: 2px;
    width: 100%;
    left:380px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #f74237;
}

.txtWrap8{position:absolute; top: 40px; left: 50px; width: 500px; color:#f74237; }
.txtWrap8 h3 { font-size: 60px;}
.txtWrap8 p { font-size: 30px;}
.txtWrap8 a { background: #f74237;color:#fff; }



/*header*/


        .hWrap{ background-color:#0044af; height:  40px; }
        .hw { width:1200px; margin: 0 auto;}
        .menuT {float:left; }
        .menuT li { float:left; width:120px; line-height:40px; text-align:center;  background: #00163b; margin-right: 4px;      }
        .menuT li a { font-weight: bold; color:#fff; font-size:12pt;display:block;   }
        .menuT li a:hover {  color:#0044af;    }
        .menuT li:hover { background:#fff;   }
        
        .hmap { float:right; }
        .hmap li{ float:left; line-height: 40px; margin-left: 15px; }
        .hmap li a{ font-weight: bold; color:#fff; font-size: 12pt;    }
        
        .hWrap2{background: #fff;padding: 20px 0;}
        .hwb img { float:left;}
        
        .menu1st {float:right;  }
        .menu1st ul{float:left; line-height:82px;  }
        .menu1st li {float:left; line-height:82px; margin-left:30px;   }
        .menu1st li:last-child{margin-left:0; }
        .menu1st li a{ font-weight: normal; }        
        .menu1st li .fa-bars {background-color: #eee; padding:14px; }
        .menu1st li .fa-user {background-color:#00163b; padding:14px; color:#fff;  }

#content {background: #000;}
/*#content{ background-image:url(../img/school01.jpg)no-repeat 50% 0%; width:100%; margin: 0 auto; background-size: cover;}*/
.content{width: 1200px; margin: 0 auto; _position: relative;}
.content1st { background: red;  position:absolute; width: 1200px;}
.content1stW {float:left; }
.content1stL {float:right; }